.content {
    width: 800px;
    height: 500px;
    background: #fff;
    p {
        font-size: 27px;
    }
    border-radius:15px 50px;
    display: flex;
    justify-content:center;
}

.login-form {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #e5e5e5 !important;
    opacity: 0.8;
    align-items: center;
}

//form...............................................................

/* label focus color */

.input-field input[type=text]:focus+label,
.input-field input[type=password]:focus+label {
    color: #f50057 !important;
}


/* label underline focus color */

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field select:focus {
    border-bottom: 1px solid #f50057 !important;
    box-shadow: 0 1px 0 0 #f50057 !important;
}

.input-field input {
    width: 600px;
}

@media only screen and (max-width:834px) {
    .content {
        width: 700px;
    }
}

@media only screen and (max-width:720px) {
    .content {
        width: 600px;
    }
    .input-field input {
        width: 400px;
    }
}

@media only screen and (max-width:615px) {
    .content {
        width: 500px;
    }
    .input-field input {
        width: 400px;
    }
}

@media only screen and (max-width:520px) {
    .content {
        width: 400px;
    }
    .input-field input {
        width: 300px;
    }
}

@media only screen and (max-width:430px) {
    .content {
        width: 350px;
    }
    .input-field input {
        width: 300px;
    }
}

@media only screen and (max-width:366px) {
    .content {
        width: 300px;
    }
    .input-field input {
        width: 270px;
    }
}