<div class="login-form">
    <form class="content">
        <form class="form" (submit)="onResetPassword(f)" #f="ngForm">


            <h2 class="center-align">Reset Your Password</h2> <br>


            <div class="input-field col s12">
                <input id="password" type="password" ngModel name="password" class="validate" required minlength="5" maxlength="100" #password="ngModel">
                <label for="password">Password</label><br>

            </div> <span *ngIf="password.invalid && (password.dirty || password.touched)">Please enter valid password of minimun 5 length.</span><br>
            <br>
            <div class="input-field col s12">
                <input id="cpassword" type="password" ngModel name="cpassword" class="validate" #cpassword="ngModel">
                <label for="cpassword">Confirm Password</label><br>

            </div> <span *ngIf="password.value!=cpassword.value&& (cpassword.dirty || cpassword.touched)">Password and confirm password does not match.</span><br>
            <br>

            <button class="btn waves-effect waves-light btn-large  pink accent-3 hoverable tooltip-pink" [disabled]="f.invalid||password.value!=cpassword.value">Change Password</button> <br><br>


        </form>


    </form>
</div>