<div class="footer">
    <p style="font-weight:bold">Crafted with<i class="material-icons" style="font-size:2rem;color:#f50057;">favorite</i>By Fahad Qayyum</p>
    <p style="font-weight: bold;"><i class="material-icons" style="font-size:1.5rem;color:#f50057;">copyright</i>FoodTiger,All rights reserved.</p>
    <div class="links">
        <a href="https://github.com/TheFahad-55" target="_blank"><i class="fab fa-github fa-2x icon" ></i></a>
        <a href="https://www.linkedin.com/in/fahad-qayyum-b7a991164/" target="_blank"><i class="fab fa-linkedin fa-2x icon" ></i></a>
        <a href="https://pacific-headland-56831.herokuapp.com/" target="_blank"><i class="fas fa-globe fa-2x icon" ></i></a>
    </div>
</div>