<div class="login-form">
    <form class="content">
        <form class="form" (submit)="onForgotPassword(f)" #f="ngForm">


            <h2 class="center-align">Forgot Password</h2> <br>


            <div class="input-field col s12">
                <input id="email" type="text" ngModel name="email" class="validate" required email #email="ngModel">
                <label for="email">Email</label><br>

            </div> <span *ngIf="email.invalid && (email.dirty || email.touched)">Please enter valid email.</span><br>
            <br>

            <button class="btn waves-effect waves-light btn-large  pink accent-3 hoverable tooltip-pink" [disabled]="f.invalid" data-balloon-length="large" aria-label="You will receive link to reset your password!" data-balloon-pos="up" >Send Me Email</button>            <br><br>
            <p style="font-size: 18px;">Or,
                <a [routerLink]="['/login']" style="color: #f50057;">Login</a>
            </p>

        </form>


    </form>
</div>