<div class="intro">

    <div class="intro__content">
        <h2>Food Tiger</h2> <br>
        <p>You don't need to come ,food will come to you .</p>
        <button class="button hoverable waves-effect " (click)="onCheckDishes()" style="margin-top: 2rem;">Get Started</button>


    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="food">
                <h2 class="center-align">Our Food</h2>
                <hr style="width:100px; margin: auto;color:#f50057;border-top: 3px solid #f50057;" /> <br>
                <p>Food quality is guaranteed ,as we cook them by ourself so we can take the 100 % responsibility.</p><br>
                <p>Our mission is to provide you the best food even in this hard covid time..</p>
                <br>

            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Food Tiger Features</h2>
            <hr style="width:100px; margin: auto;color:#f50057;border-top: 3px solid #f50057;" /> <br> <br>
            <div class="features center-align">
                <div class="feature center-align">

                    <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Taste</h5>
                    <p style="color:#323450; font-size: 19px;">We have the unique taste, that will leave you clueless.</p>
                </div>
                <div class="feature center-align">

                    <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Online Service</h5>
                    <p style="color:#323450; font-size: 19px;">We are known for our online services , providing best food to our customers at home.</p>
                </div>
                <div class="feature center-align">

                    <h5 style="font-weight:bold; color:#323450 ;font-family: Verdana, Geneva, Tahoma, sans-serif;">Rates</h5>
                    <p style="color:#323450; font-size: 19px;">We have the best food rates and their are always special offers coming your way.</p>
                </div>




            </div>
        </div>
    </div>
</div>
<div class="mission">

    <div class="mission__content">
        <h2>Mission</h2> <br>
        <p>Our mission is to give you the best food at the affordable rates with great taste with the free home delivery.</p>
    </div>

</div>

<app-footer></app-footer>